.mainContainer{
  position: relative;
}
.iconsContainer {
  background-color: #222831;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.icon {
  position: absolute;
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
}

.icon1 {
  left: 10%;
  top: 10%;
}
.icon2 {
  left: 5%;
  top: 70%;
}
.icon3 {
  left: 70%;
  top: 10%;
}
.icon4 {
  left: 70%;
  top: 70%;
}
.icon5 {
  top: 30%;
  left: 10%;
}
.icon6 {
  top: 50%;
  left: 80%;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.infoContainer {
  
  padding: 5%;
}

.sectionTitle {
  font-size: 72px;
  display: inline;
  color: #efecec;
  border-bottom: solid;
  border-color: #29a19c;
  span {
    color: #29a19c;
  }
}
.circularContainer {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #62929a;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textTitle {
  text-align: center;
  color: #efecec;
  font-weight: bold;
}
.infoText {
  color: #efecec;
  font-size: 18px;
  text-align: center;
}
///SKILL CARD////
.flipCard {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}
.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flipCardFront {
  padding: 4%;
  background-color: #EFECEC;
  font-weight: 800;
  color: black;
}
.flipCardBack {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efecec;
  font-weight: 800;
  color: white;
  transform: rotateY(180deg);
}
.ProgressBarContainer{
  margin-bottom: 50px;
  width: 50%;
  height: 50%;
}
////////////////
@media screen and (min-width: 0px) and (max-width: 768px) {
  .flipCard {
    height: 200px;
    margin-bottom: 10%;
  }
  .ProgressBarContainer{
    width: 40%;
    height: 40%;
  }
  .circularContainer {
    width: 100px;
    height: 100px;
    margin-bottom: 2%;
  }
  .sectionTitle {
    font-size: 52px;
  }
  .textTitle {
    text-align: center;
    color: #efecec;
    font-weight: bold;
  }
  .infoText {
    font-size: 10px;
    text-align: center;
  }
}
