.mainContainer {
  position: relative;
}
.iconsContainer {
  background-color: #393e46;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.icon {
  position: absolute;
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
}

.icon1 {
  left: 10%;
  top: 10%;
}
.icon2 {
  left: 5%;
  top: 70%;
}
.icon3 {
  left: 70%;
  top: 10%;
}
.icon4 {
  left: 70%;
  top: 70%;
}
.icon5 {
  top: 30%;
  left: 10%;
}
.icon6 {
  top: 50%;
  left: 80%;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.infoContainer {
  padding: 5%;
}
.sectionTitle {
  font-size: 72px;
  text-align: center;
  display: inline;
  color: #efecec;
  border-bottom: solid;
  border-color: #29a19c;
  span {
    color: #29a19c;
  }
}
////PROJECTS-CARD//////
.cardContainer {
  position: relative;
  height: 250px;
}
.projectImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.hoverContainer {
  font-weight: 800;
  word-wrap: break-word;
  background-color: rgba(97, 144, 152, 0.56);
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.cardContainer:hover .projectImage {
  opacity: 0.3;
}

.cardContainer:hover .hoverContainer {
  opacity: 1;
}
.cardInfoContainer {
  padding-top: 6%;
}
.cardTitle {
  color: #efecec;
}
.cardStack {
  color: #a3f7bf;
  font-weight: bold;
}
.cardDescription {
  color: #efecec;
}
.projectButton {
  padding: 2%;
  width: 60%;
  margin: auto;
  background-color: transparent;
  border-style: solid;
  border-color: #efecec;
  color: #efecec;
  &:hover {
    background-color: #29a19c;
  }
}
